<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <title>L11 David Dezano D</title>
</head>
<body>
    <form id="frm" type="submit">
        <h2>Temperature Conversion Tool</h2><br>
        <input id="c-input" type="text" value="Insert Value Here">
        <button id="btn-convert" type="submit">Convert to Fahrenheit</button>
    </form>
    <div id="result-div">
        <p id="result-p"></p>
    </div>
    <script src="script.js"></script>
</body>
</html>
