<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="style.css">
    <title>L11 David Dezano J</title>
</head>
<body>
    <h2>Word Count Tool</h2>
    <label for="txt_a">Words: </label>
    <textarea id="txt_a" rows="4" cols="75"></textarea>
    <button id="btn-submit" type="submit">Count Words.</button>
    <div id="result-div">
        <p id="result-p"></p>
    </div>
    <script src="script.js"></script>
</body>
</html>
