<!DOCTYPE html>
<html lang="en">
    <head>
        <title>L11 David Dezano Ex B</title>
        <link rel="shortcut icon" href="#">
    </head>
    <body>
        <h2>Check URL Liveness.</h2>
        <div id="result-div">
            <p id="result-p"></p>
        </div>
        <form id="myForm" type="submit">
            <input type="text" id="url" name="name">
            <input type="submit" id="check" value="check">
        </form>
    <script src="script.js"></script>
    </body>
</html>