<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="style.css">
    <title>L11 David Dezano F</title>
</head>
<body>
    <h2>Leave Your Feedback</h2>
    <form id="frm" type="submit">
        <label for="uname">User Name: </label>
        <input id="uname" type="text">
        <label for="email">Email: </label>
        <input id="email" type="text">
        <label for="comments">Comments: </label>
        <textarea id="comments" rows="4" cols="75"></textarea>
        <button id="btn-submit" type="submit">Submit</button>
        <div id="result-div">
            <p id="result-p"></p>
        </div>
    </form>

    <script src="script.js"></script>
</body>
</html>
