<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="style.css">
    <title>L11 David Dezano E</title>
</head>
<body>
    <h2>Simple Calculator</h2>
    <form id="frm" type="submit">
        <input id="num1" type="text" value="">
        <input id="num2" type="text" value="">
        <label for="operation">Select an operation:</label>
        <select id="operation" name="operations">
            <option id="add">Add</option>
            <option id="sub">Subtract</option>
            <option id="div">Divide</option>
            <option id="mul">Multiply</option>
        </select>
        <button id="btn-submit" type="submit">Submit</button>
        <div id="result-div">
            <p id="result-p"></p>
        </div>
    </form>

    <script src="script.js"></script>
</body>
</html>
